:root {
  background-color: black;
  height: 100dvh;
  accent-color: black;
  --valey-width: 20%;
  --starting-x: 10%;
  --y1: 10%;
  --y2: 20%;
}

input {
  display: block;
  /*   margin-inline: auto; */
}

@function --curve-x(--n <number>) {
  result: calc(var(--n) * var(--starting-x) + var(--valey-width) / 2);
}

body {
  background-color: red;
  height: 100%;
  align-content: center;
  justify-items: center;
  clip-path: shape(
    from var(--starting-x) var(--y1),
    curve to --curve-x(1) var(--y2) with 15% var(--y1) / 15% var(--y2),
    curve to --curve-x(2) var(--y1) with 25% var(--y2) / 25% var(--y1),
    curve to --curve-x(3) var(--y2) with 35% var(--y1) / 35% var(--y2),
    curve to --curve-x(4) var(--y1) with 45% var(--y2) / 45% var(--y1),
    curve to --curve-x(5) var(--y2) with 55% var(--y1) / 55% var(--y2),
    curve to --curve-x(6) var(--y1) with 65% var(--y2) / 65% var(--y1),
    curve to --curve-x(7) var(--y2) with 75% var(--y1) / 75% var(--y2),
    curve to --curve-x(8) var(--y1) with 85% var(--y2) / 85% var(--y1),
    hline to 90%,
    vline to 90%,
    hline to var(--starting-x),
    close
  );
}
