:root {
  background-color: black;
  height: 100dvh;
  accent-color: black;
  --valey-width: 20%;
  --starting-x: 10%;
  --y1: 10%;
  --y2: 20%;
  --control-x-offset: 5%;
}

input {
  display: block;
  /*   margin-inline: auto; */
}

@function --curve-x-start(--n <number>) {
  result: calc(var(--n) * var(--starting-x));
}

@function --curve-x-end(--n <number>) {
  result: calc(--curve-x-start(var(--n)) + var(--valey-width) / 2);
}

@function --control-x1(--n <number>) {
  result: calc(--curve-x-start(var(--n)) + var(--control-x-offset));
}

@function --control-x2(--n <number>) {
  result: calc(--curve-x-end(var(--n)) - var(--control-x-offset));
}

body {
  background-color: red;
  height: 100%;
  align-content: center;
  justify-items: center;
  clip-path: shape(
    from var(--starting-x) var(--y1),
    curve to --curve-x-end(1) var(--y2) with --control-x1(1) var(--y1) /
      --control-x2(1) var(--y2),
    curve to --curve-x-end(2) var(--y1) with --control-x1(2) var(--y2) /
      --control-x2(2) var(--y1),
    curve to --curve-x-end(3) var(--y2) with --control-x1(3) var(--y1) /
      --control-x2(3) var(--y2),
    curve to --curve-x-end(4) var(--y1) with --control-x1(4) var(--y2) /
      --control-x2(4) var(--y1),
    curve to --curve-x-end(5) var(--y2) with --control-x1(5) var(--y1) /
      --control-x2(5) var(--y2),
    curve to --curve-x-end(6) var(--y1) with --control-x1(6) var(--y2) /
      --control-x2(6) var(--y1),
    curve to --curve-x-end(7) var(--y2) with --control-x1(7) var(--y1) /
      --control-x2(7) var(--y2),
    curve to --curve-x-end(8) var(--y1) with --control-x1(8) var(--y2) /
      --control-x2(8) var(--y1),
    hline to 90%,
    vline to 90%,
    hline to var(--starting-x),
    close
  );
}
